run = "php -S 0.0.0.0:8000 -t ./public"

entrypoint = "index.php"

language = "php"

[nix]
channel = "stable-21_11"

[languages.php]
pattern = "**/*.php"
  [languages.php.languageServer]
  start = ["intelephense", "--stdio"]
